* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

img {
  max-width: 100%;
}

.phone-view-btn {
  text-align: center;
  display: none;
}
@media (max-width: 992px) {
  .phone-view-btn {
    display: inline-block;
    background-color: #3D8B58;
    border: 1px solid #ccc;
    color: #000000;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 80px 80px;
    width: 150px;
    margin: 30px;
  }
  .phone-view-btn a {
    text-decoration: none;
    color: #fff;
  }
  .phone-view-btn span {
    text-decoration: none;
    color: #000;
  }
}

.btn_viewmore {
  width: 100%;
  text-align: center;
}
@media (max-width: 992px) {
  .btn_viewmore {
    display: none;
  }
}
.btn_viewmore .viewmore-link {
  display: inline-block;
  background-color: #355b30;
  color: #fff;
  padding: 5px 30px;
  font-size: 24px;
  text-decoration: none;
  border-radius: 80px 80px;
}

.phone-btn {
  text-align: center;
  display: none;
}
@media (max-width: 992px) {
  .phone-btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000000;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 80px 80px;
  }
  .phone-btn a {
    text-decoration: none;
    color: #000;
  }
  .phone-btn span {
    text-decoration: none;
    color: #000;
  }
}

.prod_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prod_btn a {
  display: inline-block;
  color: #000;
  background-color: #fff;
  border: 1px solid #808080;
  text-align: center;
  display: inline-block;
  width: 100px;
}
.prod_btn a i {
  font-size: 22px;
  position: relative;
  top: -3px;
}
.prod_btn a.btn1 {
  text-decoration: none;
  color: #fff;
  background-color: #355b30;
  font-size: 16px;
  padding: 4px 0;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #355b30;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px 9px;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 992px) {
  #topBtn {
    font-size: 10px;
    padding: 9px 5px;
  }
}

#topBtn:hover {
  background-color: #3D8B58;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1400px;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
}
@media (min-width: 1400px) {
  header .header {
    width: 1400px;
    height: 192px;
  }
}
@media (max-width: 992px) {
  header .header {
    max-width: unset;
  }
  header .header nav {
    display: block;
    position: absolute;
    top: 0;
    background: #ffffff;
  }
  header .header nav ul {
    align-items: center;
  }
  header .header .right_side {
    display: none;
  }
}
header .header .logo {
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px 20px;
  border-radius: 0 0 80px 80px;
}
@media (max-width: 992px) {
  header .header .logo {
    padding: 5px 10px 5px 10px;
  }
}
header .header .logo img {
  width: 100px;
}
@media (max-width: 992px) {
  header .header .logo img {
    width: 30px;
  }
}
header .header nav {
  flex: 1;
}
header .header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header .header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
header .header nav ul li a:hover {
  color: #fa0;
}
header .header nav ul li:nth-child(3) {
  margin-right: 200px;
}
@media (max-width: 992px) {
  header .header nav {
    position: fixed;
    width: 100vw;
    top: 34px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    opacity: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  header .header nav ul {
    flex-direction: column;
  }
  header .header nav ul li:nth-child(3) {
    margin: 0;
  }
  header .header nav ul li a {
    color: #fff;
    line-height: 50px;
    font-size: 16px;
  }
  header .header nav.act {
    opacity: 1;
    background-size: cover;
    background-color: #355b30;
    transform: translateY(0%);
  }
}
header .header .m_menu {
  display: none;
}
@media (max-width: 992px) {
  header .header .m_menu {
    display: flex;
    flex: auto;
    height: 38px;
    background-color: #fff;
    align-items: center;
  }
  header .header .m_menu .hamburger {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  header .header .m_menu .hamburger span {
    top: 50%;
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #000;
    box-shadow: 0 8px 0 #000, 0 -8px 0 #000;
    margin: 0 5px;
  }
}
header .header .right_side {
  display: flex;
  position: absolute;
  right: -100px;
}
header .header .right_side .right_btn {
  padding: 0 10px !important;
}
header .header .right_side .right_btn.search_bar {
  background: none;
  position: unset;
  top: auto;
}
header .header .right_side .right_btn.search_bar input {
  display: none;
}
@media (max-width: 992px) {
  header .header .right_side .right_btn.search_bar {
    position: fixed;
    width: 100%;
    top: 35px;
    padding: 8px 0 !important;
    left: 0;
    background-color: rgba(53, 91, 48, 0.9490196078);
    display: flex;
    align-items: center;
    text-align: center;
  }
  header .header .right_side .right_btn.search_bar input {
    display: inline-block;
    border: 0;
    box-shadow: 0;
    border-radius: 200px;
  }
  header .header .right_side .right_btn.search_bar i {
    color: #fff;
  }
}
header .header .right_side .right_btn a {
  color: #fff;
}
header .header .right_side .right_btn:first-child {
  border-right: 1px solid #fff;
}
@media (max-width: 992px) {
  header .header .right_side {
    right: 0;
    z-index: 999;
  }
  header .header .right_side .right_btn.search_bar {
    display: none;
  }
  header .header .right_side .right_btn a {
    color: #000;
  }
}
header.act {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.101);
}
header.act .header {
  height: 100px;
}
@media (max-width: 992px) {
  header.act .header {
    height: 30px;
  }
}
header.act .header .logo {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.101);
  background: #355b30;
}
header.act .header .logo a {
  color: #fff;
}
header.act .header .logo img {
  filter: brightness(999);
}
header.act .header nav ul li a {
  color: #000;
}
header.act .header nav ul li a:hover {
  color: #759139;
}
header.act .header .right_side .right_btn a {
  color: #000;
}
header.act .header .right_side .right_btn:first-child {
  border-right: 1px solid #000;
}

.banner_area {
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}
@media (max-width: 992px) {
  .banner_area {
    height: 490px;
  }
}
@media (max-width: 428px) {
  .banner_area {
    background: url(../img/phone-banner.jpg) no-repeat center;
    height: 350px;
  }
}

.blockbody {
  display: block;
}
.blockbody .title, .blockbody .produc-title-phone {
  text-align: center;
}
.blockbody .title p, .blockbody .produc-title-phone p {
  padding: 50px;
  font-size: 32px;
  letter-spacing: 10px;
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Serif TC", serif;
}
@media (max-width: 992px) {
  .blockbody .title p, .blockbody .produc-title-phone p {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    bottom: -10px;
  }
}
.blockbody .title p img, .blockbody .produc-title-phone p img {
  position: absolute;
  width: 100px;
  left: -35px;
  bottom: 20px;
}
@media (max-width: 992px) {
  .blockbody .title p img, .blockbody .produc-title-phone p img {
    width: 20%;
    left: 20px;
    bottom: 45px;
  }
}
.blockbody .title p::before, .blockbody .produc-title-phone p::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 1px;
  background-color: #ccc;
}
@media (max-width: 992px) {
  .blockbody .title p::before, .blockbody .produc-title-phone p::before {
    width: 55%;
    top: 63%;
  }
}
.blockbody .title .subtitle, .blockbody .produc-title-phone .subtitle {
  display: block;
  margin-top: -40px;
  text-align: center;
  -webkit-box-align: center;
}
.blockbody .title .subtitle span, .blockbody .produc-title-phone .subtitle span {
  font-size: 16px;
}
@media (max-width: 992px) {
  .blockbody .title .subtitle span, .blockbody .produc-title-phone .subtitle span {
    font-size: 12px;
  }
}
.blockbody .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 50px 0;
}
@media (max-width: 992px) {
  .blockbody .image-container {
    display: none;
  }
}
.blockbody .image-container img {
  margin: 10px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.blockbody .image-container img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 999;
}
.blockbody .image-container img:hover::before {
  opacity: 1;
}
.blockbody .phone-container {
  display: none;
}
@media (max-width: 992px) {
  .blockbody .phone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .blockbody .phone-container .tea-img-card {
    display: flex;
    width: 50%;
    margin: 0;
    flex-direction: column;
    padding: 10px;
  }
  .blockbody .phone-container .tea-img-card img {
    width: 100%;
    margin: 10px 0;
  }
  .blockbody .phone-container .tea-img-card .card-title {
    font-size: 16px;
    margin: 5px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .blockbody .phone-container .tea-img-card .tea-price {
    font-size: 12px;
    margin: 0 0 5px 0;
    width: 100%;
  }
  .blockbody .phone-container .tea-img-card .phone-btn {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
}
.blockbody .activity {
  display: flex;
  margin: 50px 0;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.7529411765), rgba(255, 255, 255, 0.7960784314)), url(../img/011.jpg);
  position: relative;
}
@media (max-width: 992px) {
  .blockbody .activity {
    display: none;
  }
}
.blockbody .activity::before {
  display: inline-block;
  width: 510px;
  height: 510px;
  background: url(../img/group3.png) no-repeat;
  content: "";
  position: absolute;
  right: -240px;
  bottom: -100px;
}
.blockbody .activity .activity_img {
  height: 555px;
}
.blockbody .activity .activity_title {
  font-size: 32px;
  font-family: "Noto Serif TC", serif;
}
.blockbody .activity .activity_text {
  font-size: 24px;
  margin: 50px;
  width: 40%;
}
.blockbody .activity .activity_text .btn_viewmore {
  margin-top: 40px;
  text-align: start;
}
.blockbody .quality {
  display: flex;
  margin: 200px 0;
  justify-content: flex-end;
}
.blockbody .quality .quality_title {
  font-size: 32px;
  background-color: #563026;
  text-align: center;
  color: #fff;
  font-family: "Noto Serif TC", serif;
  position: relative;
}
.blockbody .quality .quality_title::before {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: url(../img/group2.png) no-repeat;
  content: "";
  position: absolute;
  right: 430px;
  bottom: -30px;
}
.blockbody .quality .quality_text {
  width: 500px;
  padding-right: 70px;
  font-size: 24px;
}
.blockbody .quality h2 {
  padding: 10px 0;
  margin-bottom: 30px;
}
.blockbody .quality p {
  text-align: justify;
}
@media (max-width: 992px) {
  .blockbody .quality {
    margin: 50px auto 10px;
    padding: 10px 20px;
  }
  .blockbody .quality .quality_title {
    font-size: 16px;
    background-color: #759139;
  }
  .blockbody .quality .quality_title::before {
    width: 10px;
    height: 10px;
    right: 0px;
    bottom: 0px;
  }
  .blockbody .quality .quality_text {
    width: 700px;
    padding-right: 70px;
    font-size: 12px;
    padding-right: 10px;
  }
  .blockbody .quality .quality_text h2 {
    padding: 5px 0;
    margin-bottom: 10px;
  }
}
.blockbody .producttitle {
  padding: 50px;
  font-size: 32px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Noto Serif TC", serif;
}
@media (max-width: 992px) {
  .blockbody .producttitle {
    display: none;
  }
}
.blockbody .producttitle::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 1px;
  background-color: #ccc;
}
.blockbody .produc-title-phone {
  display: none;
}
@media (max-width: 992px) {
  .blockbody .produc-title-phone {
    display: block;
  }
}
.blockbody .ProductDetails {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: auto;
}
@media (max-width: 992px) {
  .blockbody .ProductDetails {
    display: none;
  }
}
.blockbody .card {
  width: 31.3333%;
  margin: 1%;
}
.blockbody .card .img {
  width: 100%;
  height: auto;
}
.blockbody .card .card_txt {
  padding: 0 15px;
}
.blockbody .card .card_txt .productname,
.blockbody .card .card_txt .price {
  font-size: 24px;
  margin-bottom: 5px;
}
.blockbody .card .card_txt .producttext {
  font-size: 16px;
  padding: 10px 0 20px;
  line-height: 2;
}
.blockbody .promotion {
  display: flex;
  margin: 200px 0;
  position: relative;
}
@media (max-width: 992px) {
  .blockbody .promotion {
    display: none;
  }
}
.blockbody .promotion::before {
  display: inline-block;
  width: 510px;
  height: 510px;
  background: url(../img/group4.png) no-repeat;
  content: "";
  position: absolute;
  right: -130px;
  bottom: 350px;
}
.blockbody .promotion .promotion_img {
  width: 848px;
}
.blockbody .promotion .promotion_text {
  width: 500px;
  padding-left: 70px;
  font-size: 24px;
}
.blockbody .promotion .promotion_title {
  font-size: 32px;
  background-color: #759139;
  text-align: center;
  color: #fff;
  font-family: "Noto Serif TC", serif;
}
.blockbody .promotion h2 {
  padding: 10px 0;
  margin-bottom: 30px;
}
.blockbody .promotion p {
  text-align: justify;
}
.blockbody .promotion .btn_viewmore {
  text-align: start;
  margin: 70px 0;
}
.blockbody .quality-phone {
  display: none;
}
@media (max-width: 992px) {
  .blockbody .quality-phone {
    display: block;
  }
  .blockbody .quality-phone .promotion-phone {
    display: flex;
    margin: 10px auto;
    padding: 20px;
    position: relative;
  }
  .blockbody .quality-phone .promotion-phone::before {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../img/group4.png) no-repeat;
    content: "";
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .blockbody .quality-phone .promotion-phone .promotion-img {
    width: 700px;
  }
  .blockbody .quality-phone .promotion-phone .promotion-text {
    width: 700px;
    padding-left: 10px;
    font-size: 12px;
  }
  .blockbody .quality-phone .promotion-phone .promotion-title {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #759139;
    text-align: center;
    color: #fff;
    font-family: "Noto Serif TC", serif;
  }
  .blockbody .quality-phone .promotion-phone h2 {
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .blockbody .quality-phone .promotion-phone p {
    text-align: justify;
  }
}
.blockbody .quality-phone2 {
  display: none;
}
@media (max-width: 992px) {
  .blockbody .quality-phone2 {
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
  }
  .blockbody .quality-phone2 .quality_title {
    font-size: 16px;
    background-color: #759139;
  }
  .blockbody .quality-phone2 .quality_title::before {
    width: 10px;
    height: 10px;
    right: 0px;
    bottom: 0px;
  }
  .blockbody .quality-phone2 .quality_text {
    width: 700px;
    padding-right: 70px;
    font-size: 12px;
    padding-right: 10px;
  }
  .blockbody .quality-phone2 .quality_text h2 {
    padding: 5px 0;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
  }
  .blockbody .quality-phone2 .quality_text .phone-btn {
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
  }
}
.blockbody .gift-box {
  text-align: center;
  position: relative;
}
@media (max-width: 992px) {
  .blockbody .gift-box {
    display: none;
  }
}
.blockbody .gift-box::before {
  display: inline-block;
  width: 510px;
  height: 510px;
  background: url(../img/group5.png) no-repeat;
  content: "";
  position: absolute;
  left: 0;
  bottom: -80px;
}
.blockbody .gift-box .gift-box_title {
  width: 1000px;
  margin: auto;
  text-align: left;
}
.blockbody .gift-box .gift-box_title span {
  display: inline-block;
  font-size: 32px;
  color: #fff;
  background-color: #759139;
  padding: 10px 50px;
  font-family: "Noto Serif TC", serif;
}
.blockbody .gift-box .card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  flex-direction: row;
  margin: auto;
  padding: 100px 0;
}
.blockbody .gift-box .card-list .card {
  width: 407px;
  margin: 0;
}
.blockbody .gift-box .card-list .card .gift-box_text {
  margin-top: 40px;
  height: 58px;
  font-size: 20px;
  text-align: left;
}
.blockbody .gift-box .card-list .card .price {
  text-align: left;
  font-style: 20px;
}
.blockbody .gift-box .card-list .card .price .sale {
  display: inline-block;
  margin-right: 10px;
}
.blockbody .gift-box .card-list .card .price span {
  font-size: 36px;
}
.blockbody .gift-box .card-list .card .prod_btn {
  margin: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.7529411765), rgba(255, 255, 255, 0.7960784314)), url(../img/011.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  color: #333;
  position: relative;
  overflow: hidden;
}
footer .footercup {
  position: absolute;
  right: -70px;
  bottom: -70px;
}
footer .container {
  width: 100%;
  margin: 0 60px;
  display: flex;
  padding-top: 100px;
}
footer .footerLogo {
  margin-right: 100px;
}
footer .footerLogo img {
  width: 152px;
  filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.3333333333));
}
footer .footer_map {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-right: 10%;
  list-style: none;
}
footer .footer_map li {
  text-align: center;
  border-right: 1px solid #666;
  padding: 30px 40px;
  flex-direction: column;
  width: 25%;
}
footer .footer_map li:last-child {
  border-right: 0;
  text-align: left;
}
footer .footer_map li h3 {
  margin-bottom: 30px;
}
footer .footer_map li a {
  display: block;
  text-decoration: none;
  color: #333;
}
footer .footer_map li p {
  display: block;
  padding: 10px 0;
}
footer .copyright {
  text-align: center;
  width: 100%;
  padding: 30px;
}
@media (max-width: 992px) {
  footer {
    background: rgba(243, 242, 242, 0.3098039216);
    margin-top: 50px;
  }
  footer .container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  footer .footer_map {
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 0;
    margin: 0;
  }
  footer .footer_map li {
    width: 100%;
    border: 0;
    text-align: left;
    padding: 20px;
  }
  footer .footer_map li h3 {
    margin-bottom: 10px;
  }
  footer .footercup {
    display: none;
  }
  footer .footerLogo {
    order: 1;
    margin: auto;
  }
  footer .copyright {
    font-size: 10px;
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */